<template>
  <div class="drop_zone" id="drop_zone" @drop="dropHandler" @dragover="dragoverHandler" @dragenter="dragoverHandler">
    Drop files to upload zone....
  </div>
</template>

<script>
// import Mongo from "../js/mongo";

export default {
  name: "Upload",
  data() {
    return {
      inProgress: false
    };
  },
  methods: {
    handleUpload(file) {
      const reader = new FileReader();
      const payload = {
        name: file.name,
        size: file.size,
        type: file.type,
        blob: null
      };
      reader.onload = function () {
        payload.blob = btoa(reader.result);

        this.$store.commit('addFile', payload);
        this.inProgress = false;
      }
      .bind(this);

      reader.readAsBinaryString(file);
    },
    dropHandler(ev) {
      ev.preventDefault();
      let types = ['image/png', 'image/gif', 'image/jpeg'];

      if (this.inProgress) {
        console.log("Upload in progress... skipping...")
        return;
      } else {
        this.inProgress = true;
      }

      if (ev.dataTransfer.items) {
        for (let i = 0; i < ev.dataTransfer.items.length; i++) {

          if (ev.dataTransfer.items[i].kind === 'file') {
            const file = ev.dataTransfer.items[i].getAsFile();

            if (types.includes(file.type)) {
              this.handleUpload(file);
            }

          }
        }
      } else {
        for (let i = 0; i < ev.dataTransfer.files.length; i++) {
           const file = ev.dataTransfer.files[i];

          if (types.includes(file.type)) {
            this.handleUpload(file);
          }

        }
      }

    },
    dragoverHandler(e) {
      e.preventDefault();
    }
  }
}
</script>

<style scoped>
  .drop_zone {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #365252;
    border-radius: 5px;
    min-height: 40em;
    background-color: #cecece;
    text-align: center;
  }
</style>