<template>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Czeski kombajn</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link to="/" class="nav-item nav-link">
              Home
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/upload" class="nav-item nav-link">
              Upload
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/crop" class="nav-item nav-link">
              Crop
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <hr>

  <router-view></router-view>

</div>
</template>

<script>

export default {
  name: 'App',
  components: {
  }
}
</script>

<style>
@import "~bootstrap/dist/css/bootstrap.css";

#app {
}


</style>
